/*
  *= require bootstrap
  *= require_tree .
  *= require_self
*/

.left_recipes_side {
  border-right: 4px solid #47d7ac ;
}

.recipe_item {
  margin-bottom: 1em;
  background-color: #ffcd00;
}

.recipe_image {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  align-self: center;
}